body {
    background-color: #F3F5FC;
    margin: 0;
    padding: 0;
}

.logo {
    padding-top: 25px;
    margin-left: 25px;
    width: 7%;
    position: absolute;
}

.conteIni {
    display: flex;
    justify-content: space-evenly;
}

.con_enc_bot {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 125px;
}

.cajEnc {
    float: left;
    height: 530px;
    width: 577px;
    resize: none;
    background-color: #F3F5FC;
    border-color: transparent;
    color: #0A3871;
    font-family: "Inter";
    font-size: 2rem;
    margin: 120px 0px 10px 150px;
    text-transform: lowercase;
}

.cajEnc:focus {
    outline: none;
}

.info { 
    display: flex;
    align-items: center;
    width: 100%;
    height: 18px;
    padding: 10px;
    margin-left: 150px;
    font-family: 'Inter';
    font-size: 0.75rem;
    color: #495057;
}

.sigExc {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.cajBot {
    display: flex;
    align-items: row;
    width: 680px;
    margin-left: 35%;
}

.enc {
    width: 328px;
    height: 57px;
    border-radius: 24px;
    background-color: #0A3871;
    margin-right: 12px;
    color: #F3F5FC;
    font-family: "Inter";
    font-size: 0.875rem;
}

.des {
    width: 328px;
    height: 57px;
    border-color: #0A3871;
    border-radius: 24px;
    background-color: #D8DFE8;
    margin-left: 12px;
    color: #0A3871;
    font-family: "Inter";
    font-size: 0.875rem;
}

.con_res {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 750px;
    background-color: #fff;
    border-radius: 32px;
    margin: 40px 40px 20px 80px;
    border: none;
    font-family: 'Inter';
    font-size: 1.375rem;
    color: #0A3871;
    overflow: auto;padding: 10px;
}

.Res {
    width: 300px;
    height: 360px;
    margin: 5%;
    overflow-wrap: break-word;
}

.muneco {
    width: 300px;
    height: 300px;
    margin-top: 100px;
}

.texres {
    margin: 30px;
}

.copiar {
    justify-content: end;
    width: 315px;
    height: 57px;
    border-color: #0A3871;
    border-radius: 24px;
    background-color: transparent;
    color: #0A3871;
    font-family: "Inter";
    font-size: 0.875rem;
    margin-bottom: 25px;
    margin-top: auto;
    padding: 10px;
}

.texResNin {
    font-size: 1.5rem;
    font-family: 'Inter';
    font-weight: bold;
    text-align: center;
    color: #343A40;
}

.texResNin2 {
    font-size: 1rem;
    font-family: 'Inter';
    text-align: center;
    color: #343A40;
    margin-top: 16px;
}


@media (max-width: 900px) {
    .logo {
        width: 20%;
        display: block;
        position: relative;
    }

    .conteIni{
        justify-content: none;
        flex-wrap: wrap;
    }

    .cajEnc {
        padding: 0 10px 0 10px;
        width: 90%;
        margin: 40px 0px 10px 15px;
    }

    
    .info, .cajBot {
        margin: 0;
    }

    .con_enc_bot {
        align-items: normal;
        margin-right: 0px;
        width: 100%;
    }

    .cajBot {
        width: 100%;
        margin-left: 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .enc, .des {
        width: 30%;
        margin: 10px 0;
    }

    .con_res {
        width: 100%;
        height: auto;
        margin: 20px auto;
    }
    
    .texResNin {
        font-size: 1.25rem;
        padding: 0 10px 0 10px;
    }

    .texResNin2 {
        font-size: 0.875rem;
        padding: 0 10px 0 10px;
    }
}


@media (max-width: 576px) {
    .logo {
        width: 30%;
        display: block;
        position: relative;
    }

    .conteIni{
        justify-content: none;
    }

    .cajEnc {
        padding: 0 10px 0 10px;
        height: 300px;
    }

    .info, .cajBot {
        margin: 0;
    }

    .con_res {
        padding: 0 10px 0 10px;
        height: 300px;
        margin: 40px 10px 50px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .con_enc_bot {
        align-items: normal;
        margin-right: 0px;
    }
    
    .cajBot {
        flex-direction: column;
        align-items: center;
    }

    .enc, .des{
        width: 80%;
    }

    .texres {
        font-size: 0.875rem;
        margin: 5px;
    }

    .texResNin {
        font-size: 1.25rem;
        padding: 0 10px 0 10px;
    }

    .texResNin2 {
        font-size: 0.875rem;
        padding: 0 10px 0 10px;
    }
}
